




div.containerTwo{
	
  
   position: absolute;              
   top: 20%;                         
   transform: translate(0, -50%)
   
}

.addError{
	
	background: #ffa6a6;
	width: 910px 
}