

#moneyFlowContener {
	
   position: absolute;              
   top: 20%;                         
   transform: translate(0, 140%)
   
}
#moneyFlow.errors{
	
	background: #ffa6a6;
}

.addError{
	
	background: #ffa6a6;
	width: 910px 
}