

table {
        background-color: black;
        
        border-collapse: collapse;
      }
      th {
        border: 1px outset silver;
        background-color: maroon;
        color: white;
      }
      tr {
        background-color: #dfdfdf ;
        margin: 1px;
      }
      tr.striped {
        background-color: #d2d2d2;
      }
      td {
        padding: 1px 12px;
      }
      
#wallet {
	
	margin-top: 30px
	
	}
	
#cashTotality
{
	  font-family: "Comic Sans MS", cursive, sans-serif;
	  font-size: 20pt;
	  margin-bottom: 10px;
}